body {
  background-color: lightslategray;
}

.pumpkin-container {
  position: relative;
  float: right;
}

img {
  position: relative;
  float: right;
  width: 30%;
  margin-left: 1.5rem;
}

.dialog-wrapper {
  width: 60%;
  float: left;
}

.pumpkin-row {
  width: 90%;
  height: auto;
  bottom: 0;
  float: left;
  display: flex;
  flex-direction: row;
}